tailwind.config.js
tailwind.config.cjs
.eslintrc.cjs
.eslintrc.js
postcss.config.js
postcss.config.cjs
vite.config.ts

*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile
